<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP Text Analysis Project</title>
  </head>

  <body>
    <header>
      <h1>NLP News Analysis Project</h1>
    </header>

    <main>
      <p>
        In this project we are using the Aylien API to process text and analyse
        sentiment.
      </p>

      <h2>Section 1 : URL Input Analysis</h2>

      <form class="" onsubmit="return Client.handleUserURLInput(event)">
        <label for="url-input">
          Type a URL to analyse the article.
        </label>
        <input
          required
          id="url-input"
          type="url"
          placeholder="Enter URL in format https://..."
        />
        <input class="submit-button" type="submit" value="Submit" />
      </form>

      <section class="url-results">
        <div class="result-column">
          <h3>Text Polarity</h3>
          <p class="result-value" id="polarity">0</p>
        </div>
        <div class="result-column">
          <h3>Polarity Confidence</h3>
          <p class="result-value" id="polarity_confidence">0</p>
        </div>
        <div class="result-column">
          <h3>Text Subjectivity</h3>
          <p class="result-value" id="subjectivity">0</p>
        </div>
        <div class="result-column">
          <h3>Subjectivity Confidence</h3>
          <p class="result-value" id="subjectivity_confidence">0</p>
        </div>
      </section>
      <div>
        <h3>Article Excerpt</h3>
        <p id="excerpt">0</p>
      </div>

      <hr />

      <h2>Section 1 : User Input Analysis</h2>

      <form class="" onsubmit="return Client.handleUserTextInput(event)">
        <label for="test-statement">
          Type a statement to see what can be analysed from it.
        </label>
        <input
          required
          type="text"
          id="test-statement"
          placeholder="Enter a statement here."
        />
        <input type="submit" class="submit-button" value="Submit" />
      </form>

      <section class="text-results">
        <div class="result-column">
          <h3>Text Polarity</h3>
          <p class="result-value" id="text_polarity">0</p>
        </div>
        <div class="result-column">
          <h3>Polarity Confidence</h3>
          <p class="result-value" id="text_polarity_confidence">0</p>
        </div>
        <div class="result-column">
          <h3>Text Subjectivity</h3>
          <p class="result-value" id="text_subjectivity">0</p>
        </div>
        <div class="result-column">
          <h3>Subjectivity Confidence</h3>
          <p class="result-value" id="text_subjectivity_confidence">0</p>
        </div>
      </section>

      <hr />
    </main>

    <footer>
      <p>A Udacity Front End Nanodegree Project.</p>
    </footer>
  </body>
</html>
